{$SITE_DOMAIN:localhost} {
	route {
		handle /api/* {
			reverse_proxy api:8080
		}

		handle {
			root * /usr/share/caddy
			encode zstd gzip
			try_files {path} /index.html
			file_server
		}
	}
}

http:// {
	route {
		handle /api/* {
			reverse_proxy api:8080
		}

		handle {
			root * /usr/share/caddy
			try_files {path} /index.html
			file_server
		}
	}
}
